
*.xml
Topic8/HW8/.DS_Store
Topic8/.DS_Store
Topic1/.DS_Store
Topic10/HW10/.DS_Store
*.sln
*.json
*.dll
*.pdb
*.csproj
Topic10/HW10/HW10/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Topic10/HW10/HW10/obj/Debug/net7.0/apphost
Topic10/HW10/HW10/obj/Debug/net7.0/HW10.AssemblyInfo.cs
*.cache
*.txt
*.editorconfig
*.props
*.targets
*.info
Topic10/HW10/TestProject1/obj/Debug/net7.0/TestProject1.AssemblyInfo.cs
Topic9/HW9_1/HW9_1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Topic9/HW9_1/HW9_1/obj/Debug/net7.0/HW9_1.AssemblyInfo.cs
Topic9/HW9_1/HW9_1/obj/Debug/net7.0/HW9_1.GlobalUsings.g.cs
Topic9/HW9/HW9/obj/Debug/net7.0/HW9.GlobalUsings.g.cs
Topic9/HW9/HW9/obj/Debug/net7.0/HW9.AssemblyInfo.cs
Topic9/HW9/HW9/obj/Debug/net7.0/apphost
Topic9/HW9/HW9/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Topic7/HW7/.DS_Store
Topic7/.DS_Store
Topic6/.DS_Store
Topic4/Task4/.DS_Store
Topic4/.DS_Store
Topic3/.DS_Store
Topic10/HW10/TestProject1/Usings.cs
Topic10/HW10/TestProject1/obj/Debug/net7.0/TestProject1.GlobalUsings.g.cs
Topic10/HW10/TestProject1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Topic10/HW10/HW10/obj/Debug/net7.0/HW10.GlobalUsings.g.cs
